#main-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: black;
}

.subtitle {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: skyblue;
}

h2 {
    width: 625px;
    height: 20px;
    padding: 20px;
    border: 5px solid;
}

body {
      font-family: algerian, sans-serif;
  }

  p {
  line-height: 1.5;
}

 p {
    color: lightgrey;
}

body {
    background-color: #ffffff;
}

div {
    background-color: rgb(0, 0, 50);
}

body {
    background-image: radial-gradient(circle, #ffffff, #000000);
}

div {
    background-image: url("fotos/dolphin6.jpg");
}